<p id="notice"><%= notice %></p>

<h1>Materias de <%= @student.name %></h1>

<table>
  <thead>
    <tr>
      <th>Calificación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_subjects.each do |student_subject| %>
      <tr>
        <td><%= student_subject.rate %></td>
        <td><%= link_to "Calificar", edit_student_student_subject(@student, student_subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>