<p id="notice"><%= notice %></p>

<h1>Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="0"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Asignatura', new_subject_path %>